body {
  width: 1350px;
  margin: 10px 300px;
}
.main {
  width: 150%;
  height: auto;
}
.box {
  width: 55%;
  height: auto;
  position: absolute;
  margin-top: -980px;
  margin-left: 280px;
}
.text {
  font-size: larger;
  font-weight: bold;
  margin-top: -650px;
  color: antiquewhite;
  margin-left: 1250px;
  position: absolute;
}
